<form name="form" class="profileForm-1" role="form" [formGroup]="profileForm1" (ngSubmit)="submit()">
  <div class="mb-3">
    <div class="title-body">Basic Info</div>
  </div>
  <div class="mb-3">
    <input
      type="text"
      class="profileForm-input"
      id="firstName"
      name="firstName"
      placeholder="Name"
      formControlName="firstName"
      data-cy="firstName"
    />
  </div>

  <div class="mb-3">
    <input
      type="text"
      class="profileForm-input"
      id="lastName"
      name="lastName"
      placeholder="Surname"
      formControlName="lastName"
      data-cy="lastName"
    />
  </div>

  <div class="mb-3">
    <input type="number" class="profileForm-input" id="prefix" name="prefix" placeholder="{{ 'Prefix' }}" formControlName="prefix" />
  </div>
  <div class="mb-3">
    <input
      type="text"
      class="profileForm-input"
      id="phone"
      name="phone"
      placeholder="{{ 'Phone number' }}"
      formControlName="phone"
      data-cy="phone"
    />
  </div>
  <button type="submit" class="profileForm-button" data-cy="submit">Save</button>
  <button type="button" class="profileForm-button" (click)="backToEdit()">Go back to your profile</button>
</form>
