<div class="edit">
  <h2>Here is your profile</h2>
  <h5>Here are your edits left: {{ this.initialAccount.editsLeft }}</h5>
  <div class="alert alert-success" *ngIf="success" jhiTranslate="settings.messages.success">
    <strong>Settings saved!</strong>
  </div>
  <div class="alert alert-danger error" *ngIf="editsError">
    <strong>No edits left</strong> checkout our premium plans. Your changes won't apply
  </div>

  <div class="header">
    <div>
      <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload />
      <div class="img" (click)="fileUpload.click()"></div>
    </div>
    <div class="header-text">
      <div class="mb-3" *ngIf="!this.editMode">
        <p class="name">{{ this.initialAccount.firstName + ' ' + this.initialAccount.lastName }}</p>
      </div>
    </div>
    <div class="header-buttons">
      <button class="button-header" type="submit">Save</button>
      <button class="button-header" (click)="edit()">{{ this.editMode ? 'Save' : 'Edit' }}</button>
      <button class="button-header" [routerLink]="['/']">Go back</button>
    </div>
  </div>

  <div class="separator"></div>
  <div *ngIf="this.editMode">
    <div class="section" *ngIf="this.editMode">
      <h2 class="title-body">Basic Info</h2>
      <div class="mb-3">
        <p class="value">Name: {{ this.initialAccount.firstName }}</p>
      </div>
      <div class="mb-3">
        <p class="value">Surname: {{ this.initialAccount.lastName }}</p>
      </div>
      <div class="mb-3">
        <p class="value">Username: {{ this.initialAccount.login }}</p>
      </div>
      <div class="mb-3">
        <p class="value">Birth date: tu będzie data kiedyś może</p>
      </div>
      <button *ngIf="this.editMode" (click)="editClickBasic()" class="button-header editbtn">Edit</button>
    </div>
    <div class="separator"></div>
    <div class="section">
      <h2 class="title-body">Security</h2>
      <div class="mb-3">
        <div class="value">Email: {{ this.initialAccount.email }}</div>
      </div>
      <div class="mb-3">
        <div class="value">Phone number: {{ this.initialAccount.prefix + this.initialAccount.phone }}</div>
      </div>
      <div class="mb-3">
        <div class="value">Password: Click here to change your password</div>
      </div>
      <div class="mb-3">
        <div class="value">Ludzie z info: Click here to see your list of relatives</div>
      </div>
      <button *ngIf="this.editMode" (click)="editClickSecurity()" class="button-header editbtn">Edit</button>
    </div>
    <div class="separator"></div>
  </div>
  <div class="section">
    <jhi-burial-display [account]="this.initialAccount"></jhi-burial-display>
    <button *ngIf="this.editMode" (click)="editClickBurial()" class="button-header editbtn">Edit</button>
  </div>
  <div class="separator"></div>
  <div class="section">
    <jhi-funeral-display [account]="this.initialAccount"></jhi-funeral-display>
    <button *ngIf="this.editMode" (click)="editClickFuneral()" class="button-header editbtn">Edit</button>
  </div>
  <div class="separator"></div>
  <div class="section">
    <jhi-last-message-display [account]="this.initialAccount"></jhi-last-message-display>
    <button *ngIf="this.editMode" (click)="editClickMessage()" class="button-header editbtn">Edit</button>
  </div>
</div>
