<div class="container">
  <h2>Here is your profile</h2>
  <h5>Here are your edits left: {{ edits }}</h5>
  <div class="alert alert-success" *ngIf="success" jhiTranslate="settings.messages.success">
    <strong>Settings saved!</strong>
  </div>
  <div class="alert alert-danger error" *ngIf="editsError">
    <strong>No edits left</strong> checkout our premium plans. Your changes won't apply
  </div>

  <form name="form" role="form" (ngSubmit)="save()" [formGroup]="settingsForm" *ngIf="settingsForm.value.login" novalidate>
    <div class="header">
      <div>
        <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload />
        <div class="img" (click)="fileUpload.click()"></div>
      </div>
      <div class="header-text">
        <div class="mb-3">
          <label for="firstName" jhiTranslate="settings.form.firstname">First Name</label>
          <input
            type="text"
            id="firstName"
            name="firstName"
            placeholder="{{ 'settings.form.firstname.placeholder' | translate }}"
            formControlName="firstName"
            data-cy="firstname"
          />
        </div>

        <div class="mb-3">
          <label for="lastName" jhiTranslate="settings.form.lastname">Last Name</label>
          <input
            type="text"
            id="lastName"
            name="lastName"
            placeholder="{{ 'settings.form.lastname.placeholder' | translate }}"
            formControlName="lastName"
            data-cy="lastname"
          />
        </div>
      </div>
      <div class="header-buttons">
        <button class="button-header" type="submit">Save</button>
        <button class="button-header" [routerLink]="['/']">Go back</button>
      </div>
    </div>
    <h2 class="title-body">My burial</h2>
    <div class="mb-3">
      <label for="burialMethod">Burial method</label>
      <input
        nbInput
        type="text"
        id="burialMethod"
        name="burialMethod"
        placeholder="{{ 'Burial Method' }}"
        formControlName="burialMethod"
        data-cy="burialMethod"
      />
    </div>
    <div class="mb-3">
      <label for="placeOfCeremony">placeOfCeremony </label>
      <input
        nbInput
        type="text"
        id="placeOfCeremony"
        name="placeOfCeremony"
        placeholder="{{ 'placeOfCeremony ' }}"
        formControlName="placeOfCeremony"
        data-cy="placeOfCeremony"
      />
    </div>
    <div class="mb-3">
      <label for="graveInscription">Grave inscription</label>
      <input
        nbInput
        type="text"
        id="graveInscription"
        name="graveInscription"
        placeholder="{{ 'Grave inscription' }}"
        formControlName="graveInscription"
        data-cy="graveInscription"
      />
    </div>
    <div class="mb-3 nb-theme-default">
      <label for="openCoffin">
        Do you want your coffin open?
        <nb-radio-group formControlName="openCoffin" name="openCoffin">
          <nb-radio [value]="true" id="openCoffin" name="openCoffin" [checked]="isTrueCoffin">Yes</nb-radio>
          <nb-radio [value]="false" id="openCoffin" name="openCoffin">No</nb-radio>
        </nb-radio-group>
      </label>
    </div>

    <div class="mb-3">
      <label for="clothes">Clothes</label>
      <input nbInput type="text" id="clothes" name="clothes" placeholder="{{ 'Clothes' }}" formControlName="clothes" data-cy="clothes" />
    </div>
    <h2 class="title-body">My funeral</h2>

    <div class="mb-3 nb-theme-default">
      <label for="flowers">
        Do you want any flowers?
        <nb-radio-group formControlName="flowers" name="flowers">
          <nb-radio [value]="true" id="flowers" name="flowers">Yes</nb-radio>
          <nb-radio [value]="false" id="flowers" name="flowers">No</nb-radio>
        </nb-radio-group>
      </label>
    </div>
    <div class="mb-3">
      <label for="ifFlowers">What type of flowers do you want?</label>
      <input
        nbInput
        type="text"
        id="ifFlowers"
        name="ifFlowers"
        placeholder="{{ 'Type of flowers' }}"
        formControlName="ifFlowers"
        data-cy="ifFlowers"
      />
    </div>
    <div class="mb-3">
      <label for="obituary">Write your obituary</label>
      <input
        nbInput
        type="text"
        id="obituary"
        name="obituary"
        placeholder="{{ 'obituary' }}"
        formControlName="obituary"
        data-cy="obituary"
      />
    </div>
    <div class="mb-3">
      <label for="placeOfCeremony">placeOfCeremony </label>
      <input
        nbInput
        type="text"
        id="placeOfCeremony"
        name="placeOfCeremony"
        placeholder="{{ 'placeOfCeremony ' }}"
        formControlName="placeOfCeremony"
        data-cy="placeOfCeremony"
      />
    </div>

    <div class="mb-3">
      <label for="spotify">Do you want any music?</label>
      <input
        nbInput
        type="text"
        id="spotify"
        name="spotify"
        placeholder="{{ 'Link your spotify playlist' }}"
        formControlName="spotify"
        data-cy="spotify"
      />
    </div>
    <div class="mb-3">
      <label for="guests">guests</label>
      <input nbInput type="text" id="guests" name="guests" placeholder="{{ 'guests' }}" formControlName="guests" data-cy="guests" />
    </div>
    <div class="mb-3">
      <label for="notInvited">notInvited</label>
      <input
        nbInput
        type="text"
        id="notInvited"
        name="notInvited"
        placeholder="{{ 'notInvited' }}"
        formControlName="notInvited"
        data-cy="notInvited"
      />
    </div>
  </form>
</div>

<button (click)="onClick()"></button>
