.contact {
  border: 1px solid black;
  width: 80%;
  height: 500px;
  position: relative;

  left: 10%;
  font-size: 40px;
  margin: 0%;
  padding: 0%;
}
#contactsegment1 {
  position: relative;
  left: 27%;
  top: 10%;
}
#contactsegment2 {
  position: relative;
  left: 47%;
  top: -22%;
}
#contactsegment3 {
  position: relative;
  left: 67%;
  top: -66.5%;
}
.contactlink {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
#newsletter {
  position: relative;
  bottom: 30%;
  left: 10%;
  width: 80%;
  height: 15%;
  border: 1px solid black;
  font-size: 30px;
  color: black;
  border-radius: 40px;
  text-align: left;
  padding-left: 40px;
}
