<div class="contact" id="contact">
  <div class="container">
    <div id="contactsegment1">
      <h3><strong>Company</strong></h3>
      <a href="" class="contactlink" [routerLink]="['/aboutus']">About as</a><br />
      <a href="" class="contactlink" [routerLink]="['/idea']">Ideas</a>
    </div>
    <div id="contactsegment2">
      <h3><strong>Community</strong></h3>
      <a href="" class="contactlink">Discord</a><br />
      <a href="" class="contactlink">Instagram</a><br />
      <a href="" class="contactlink">Facebook</a>
    </div>
    <div id="contactsegment3">
      <h3><strong>Pricing</strong></h3>
      <a href="" class="contactlink">Support</a>
    </div>
  </div>

  <input type="text" placeholder="Newsletter" id="newsletter" />
</div>
