.global {
  font-family: Helvetica;
  color: black;
}

.header {
  color: #3d648c;
  text-transform: uppercase;
  font-size: 45px;
}
#history_header {
  position: relative;
  top: 160px;
  left: 15.5%;
}
.description {
  font-size: 25px;
  width: 47.5%;
}
#desc_history {
  position: relative;
  left: 15.5%;
}
.left_image {
  width: 27%;
  height: 330px;
  position: relative;
  bottom: 300px;
  left: 64%;
}

p {
  margin-top: 150px;
}
