<div class="global">
  <div id="our_history">
    <h2 class="header" id="history_header">Our History</h2>
    <br />
    <div class="contents">
      <p class="description" id="desc_history">
        Through our lives, we choose our own path - we try new hobbies, jobs, foods or travel until we figure out how we want to live.<br /><br />
        The idea came up to me one evening when I was trying to find an application which I could use to clearly convey and tell a certain
        story for my loved ones to reenact when I am no longer here.<br /><br />
        Our projects will help you to take control over your last day and help your family and friends to properly spend and celebrate this
        special moment.<br /><br />
        CEO, PAWEŁ JĘDRYSIAK
      </p>
      <img src="/content/images/black.png" id="right_image" />
    </div>
    <br /><br />
  </div>
  <div id="our_mission">
    <h2 class="header" id="mission_header">Our Mission</h2>
    <br />
    <div class="contents">
      <img src="/content/images/black.png" id="left_image" />
      <p class="description" id="desc_mission">
        We want to create platform where people can describe in a clear and simple way how they want their last day look like.<br /><br />
        While becoming older, we start to think further more about death. It is when people realize they have specific needs for their last
        day on earth. That’s why it is important for us that each Person can leave personalized legacy on their own terms.<br /><br />
        <span>We provide space where you can express yourself freely</span>
      </p>
    </div>
  </div>

  <div id="our_team">
    <div class="cont" id="team_header">
      <h2 class="header">Our Team</h2>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="cont">
      <div class="lcont" id="pic1">
        <div class="picture"></div>
        <h4>Paweł Jędrysiak</h4>
        <h5>Co-Founder</h5>
      </div>
      <div class="lcont" id="pic2">
        <div class="picture"></div>
        <h4>Michał Marzęcki</h4>
        <h5>Co-Founder</h5>
      </div>
    </div>

    <div class="cont">
      <div class="lcont" id="pic3">
        <div class="picture"></div>
        <h4>Natalia Radzka</h4>
        <h5>UX/UI Designer</h5>
      </div>
      <div class="lcont" id="pic4">
        <div class="picture"></div>
        <h4>Michał Marzęcki</h4>
        <h5>Project Lead</h5>
      </div>
      <div class="lcont" id="pic5">
        <div class="picture"></div>
        <div id="xd">
          <h4>Paweł Kuryłowicz</h4>
          <h5>Senior Frontend Developer</h5>
        </div>
      </div>
    </div>

    <div class="cont" id="last_cont">
      <div class="lcont" id="pic6">
        <div class="picture"></div>
        <h4>Stanisław Siatkowski</h4>
        <h5>Junior Frontend Developer</h5>
      </div>
      <div class="lcont" id="pic7">
        <div class="picture"></div>
        <h4>Jakub Jaworski</h4>
        <h5>Mid Backend Developer</h5>
      </div>
      <div class="lcont" id="pic8">
        <div class="picture"></div>
        <h4>Jakub Psuja</h4>
        <h5>Chuj wie co</h5>
      </div>
    </div>
  </div>
</div>
