<div class="global">
  <div id="our_history">
    <h2 class="header" id="history_header">Our History</h2>
    <br />
    <p class="description" id="desc_history">
      Through our lives, we choose our own path - we try new hobbies, jobs, foods or travel until we figure out how we want to live.<br /><br />
      The idea came up to me one evening when I was trying to find an application which I could use to clearly convey and tell a certain
      story for my loved ones to reenact when I am no longer here.<br /><br />
      Our projects will help you to take control over your last day and help your family and friends to properly spend and celebrate this
      special moment.<br /><br />
      CEO, PAWEŁ JĘDRYSIAK
    </p>
    <img src="/content/images/black.png" class="left_image" />
  </div>
  <div id="our_mission"></div>
  <div id="our_team"></div>
</div>
