<form name="form" role="form" [formGroup]="profileForm4" (ngSubmit)="submit()" class="profileForm-1">
  <div class="mb-3">
    <h1 class="stepLabel">Do you want a farewell letter?</h1>
    <div class="radioInputs">
      <label class="radio-label" for="ifFarewellLetter">Yes</label>
      <input class="radio" type="radio" name="ifFarewellLetter" formControlName="ifFarewellLetter" [value]="true" />
      <label class="radio-label" for="farewellLetter">No</label>
      <input class="radio" type="radio" name="ifFarewellLetter" formControlName="ifFarewellLetter" [value]="false" />
    </div>
  </div>
  <!-- <div *ngIf="profileForm4.controls['farewellLetter'].value === true">
    <div class="profileForm-input fileDiv" (click)="fareWellUpload.click()">
      <p class="" *ngIf="!this.files.farewellLetter" style="margin-bottom: 0px">Insert your file</p>
      <p *ngIf="this.files.farewellLetter" style="margin-bottom: 0px">{{ this.files.farewellLetter.file.name }}</p>
    </div>
    <h1 class="stepLabel mt-5 mb-4">Who will read it?</h1>
    <input type="text" placeholder="{{ 'Your best friend?' }}" class="profileForm-input" id="farewellReader"
      name="farewellReader" formControlName="farewellReader" data-cy="farewellReader" />
    <input type="file" name="farewellLetter" class="file-input" #fareWellUpload (change)="onFileSelected($event)" />
  </div> -->

  <h1 class="stepLabel">Video speech</h1>
  <div class="mb-3">
    <div class="radioInputs">
      <label class="radio-label" for="ifVideoSpeech">Yes</label>
      <input class="radio" type="radio" name="ifVideoSpeech" formControlName="ifVideoSpeech" [value]="true" />
      <label class="radio-label" for="ifVideoSpeech">No</label>
      <input class="radio" type="radio" name="ifVideoSpeech" formControlName="ifVideoSpeech" [value]="false" />
    </div>
    <!-- <div *ngIf="profileForm4.controls['videoSpeech'].value === true">
      <div class="profileForm-input fileDiv" (click)="videoSpeechUpload.click()">
        <p class="" *ngIf="!this.files.videoSpeech" style="margin-bottom: 0px">Insert your file</p>
        <p *ngIf="this.files.videoSpeech" style="margin-bottom: 0px">{{ this.files.videoSpeech.file.name }}</p>
      </div>
      <input name="videoSpeech" type="file" class="file-input" #videoSpeechUpload (change)="onFileSelected($event)" />
    </div> -->
  </div>
  <h1 class="stepLabel">Will</h1>
  <div class="mb-3">
    <div class="radioInputs">
      <label class="radio-label" for="ifTestament">Yes</label>
      <input class="radio" type="radio" name="ifTestament" formControlName="ifTestament" [value]="true" />
      <label class="radio-label" for="ifTestament">No</label>
      <input class="radio" type="radio" name="ifTestament" formControlName="ifTestament" [value]="false" />
    </div>
    <!-- <div *ngIf="profileForm4.controls['testament'].value === true">
      <div class="profileForm-input fileDiv" (click)="testamentUpload.click()">
        <p class="" *ngIf="!this.files.testament" style="margin-bottom: 0px">Insert your file</p>
        <p *ngIf="this.files.testament" style="margin-bottom: 0px">{{ this.files.testament.file.name }}</p>
      </div>
      <input name="testament" type="file" class="file-input" #testamentUpload (change)="onFileSelected($event)" />
    </div> -->
  </div>
  <div class="mb-3">
    <h1 class="stepLabel">Other</h1>
    <div class="radioInputs">
      <label class="radio-label" for="ifOther4">Yes</label>
      <input class="radio" type="radio" name="ifOther4" formControlName="ifOther4" [value]="true" />
      <label class="radio-label" for="ifOther4">No</label>
      <input class="radio" type="radio" name="ifOther4" formControlName="ifOther4" [value]="false" />
    </div>
    <input
      type="text"
      *ngIf="profileForm4.controls['ifOther4'].value == true"
      class="profileForm-input"
      id="other"
      name="other"
      placeholder="{{ 'other' }}"
      formControlName="other"
      data-cy="other"
    />
  </div>

  <button type="submit" class="profileForm-button" data-cy="submit">Next</button>
</form>
