<p>public-profile works!</p>

<div *ngIf="profile">
  <p>{{ profile.firstName || 'error' }}</p>
  <p>{{ profile.lastName || 'error' }}</p>
  <p>{{ profile.burialMethod || 'error' }}</p>
  <p>{{ profile.clothes || 'error' }}</p>
  <p>{{ profile.placeOfCeremony || 'error' }}</p>
  <p>{{ profile.photo || 'error' }}</p>
  <p>{{ profile.graveInscription || 'error' }}</p>
  <p>{{ profile.spotify || 'error' }}</p>
  <p>{{ profile.guests || 'error' }}</p>
  <p>{{ profile.obituary || 'error' }}</p>
  <p>{{ profile.purchasedPlace || 'error' }}</p>
  <p>{{ profile.isPurchasedOther || 'error' }}</p>
  <p>{{ profile.flowers || 'error' }}</p>
  <p>{{ profile.ifFlowers || 'error' }}</p>
  <p>{{ profile.farewellLetter || 'error' }}</p>
  <p>{{ profile.speech || 'error' }}</p>
  <p>{{ profile.videoSpeech || 'error' }}</p>
  <p>{{ profile.testament || 'error' }}</p>
  <p>{{ profile.other || 'error' }}</p>
  <p>{{ profile.openCoffin || 'error' }}</p>
</div>
