<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="files">
      <h2 data-cy="filesDetailsHeading"><span jhiTranslate="lastbyeApp.files.detail.title">Files</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ files.id }}</span>
        </dd>
        <dt><span jhiTranslate="lastbyeApp.files.name">Name</span></dt>
        <dd>
          <span>{{ files.name }}</span>
        </dd>
        <dt><span jhiTranslate="lastbyeApp.files.type">Type</span></dt>
        <dd>
          <span>{{ files.type }}</span>
        </dd>
        <dt><span jhiTranslate="lastbyeApp.files.format">Format</span></dt>
        <dd>
          <span>{{ files.format }}</span>
        </dd>
        <dt><span jhiTranslate="lastbyeApp.files.filePath">File Path</span></dt>
        <dd>
          <span>{{ files.filePath }}</span>
        </dd>
        <dt><span jhiTranslate="lastbyeApp.files.profile">Profile</span></dt>
        <dd>
          <div *ngIf="files.profile">
            <a [routerLink]="['/profile', files.profile.id, 'view']">{{ files.profile.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/files', files.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
