<div class="global">
  <h2 class="howwork">Farewelly</h2>
  <h4 class="howwork">Because farewells matter</h4>
  <p class="desc">
    Welcome to Farewelly - an innovative start-up that empowers you to create personalized farewell films for your loved ones when you’re no
    longer here. Say goodbye in a unique and heartfelt way by sharing your life stories, expressing love, gratitude, and capturing the
    essence of your relationships. Additionally, through a few simple steps, you can provide answers to important questions that will guide
    your family and friends in honoring your wishes after your passing.
  </p>
  <iframe
    width="1120"
    height="630"
    src="https://www.youtube.com/embed/qFitQn0W-Ns"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
  <button [routerLink]="['/user/register']" class="signup">Sign up for free</button>

  <div class="cont">
    <img src="/content/images/black.png" id="left_image" />
    <h2 class="howwork" id="why">
      Why <br />
      Farewelly?
    </h2>
    <img src="/content/images/black.png" id="right_image" />
  </div>
  <div class="cont" id="foundation">
    <div class="step" id="one">
      <div class="number" id="one_n">
        <div class="t_number">1</div>
      </div>
      <h3 class="headers">RESPECT</h3>
      <p class="exp">
        full respect for cultural, religious and ethnic backgrounds and the adaptation of services to them. building a community, learning
        about cultures around the world
      </p>
    </div>
    <div class="step" id="two">
      <div class="number" id="two_n">
        <div class="t_number">2</div>
      </div>
      <h3 class="headers">EMOTIONAL PREPARATION</h3>
      <p class="exp">reducing stress for the family, preparing everything yourself so that the family can focus on saying goodbye</p>
    </div>
    <div class="step" id="three">
      <div class="number" id="three_n">
        <div class="t_number">3</div>
      </div>
      <h3 class="headers">CLARITY</h3>
      <p class="exp">clear message of what you want, full insight into the document for your loved ones</p>
    </div>
  </div>
  <h2 class="howwork">HOW IT WORKS</h2>
  <h4 class="howwork">CREATE YOUR LAST GOODBYE WITH US</h4>
  <iframe
    width="1120"
    height="630"
    src="https://www.youtube.com/embed/qFitQn0W-Ns"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>

  <div class="cont" id="cont1">
    <div class="number" id="one_n">
      <div class="t_number">1</div>
    </div>
    <h3 class="threeheaders">SING UP FOR FREE</h3>
    <p class="threetexts" id="first_text">Log in, create an account, enter your name, surname, phone number, e-mail address</p>
    <img src="/content/images/black.png" class="left_image" id="first_img" />
  </div>
  <br />
  <div class="cont" id="cont2">
    <div class="number" id="two_n">
      <div class="t_number">2</div>
    </div>
    <h3 class="threeheaders">FILL UP THE SURVEY</h3>
    <p class="threetexts" id="second_text">
      This is the stage you will answer questions that will allow you to determine how your last goodbye should look like.
    </p>
    <img src="/content/images/black.png" class="left_image" id="second_img" />
  </div>
  <br />
  <div class="cont" id="cont3">
    <div class="number" id="three_n">
      <div class="t_number">3</div>
    </div>
    <h3 class="threeheaders">LOGIN AND ACCES THE FEATURES</h3>
    <p class="threetexts" id="third_text">
      Once logged in, the user has access to the full functionality and features offered by the startup like: creating a video & adding
      photos.
    </p>
    <img src="/content/images/black.png" class="left_image" id="third_img" />
  </div>

  <h2 class="howwork">Disclaimer</h2>
  <p class="desc">
    We understand that recording a video for last presentation takes time. That’s why our registration process creates a profile that you
    can revisit and edit at any time. We recognize that farewells are important, but they also evolve from the perspective of our life’s
    journey.
  </p>
  <iframe
    width="1120"
    height="630"
    src="https://www.youtube.com/embed/qFitQn0W-Ns"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
</div>
