<div class="navbar">
  <a href="" class="barcontent" id="bar1">Bye.com</a>
  <a href="#Howitworks" class="barcontent" id="bar2">Guide</a>
  <a href="#Pricing" class="barcontent" [routerLink]="['/idea']" id="bar3">Pricing</a>
  <a href="#questions" class="barcontent" id="bar4" [routerLink]="['/aboutus']">FAQ</a>
  <a href="#contact" class="barcontent" id="bar5">Contact</a>
  <a *ngIf="!logged" [routerLink]="['/login']" class="barcontent" id="bar6">Login</a>
  <a *ngIf="logged" [routerLink]="['/user/profile']" class="barcontent" id="bar6">Edit Profile</a>
  <a *ngIf="logged" (click)="logout()" class="barcontent" id="bar6">Logout</a>
</div>
