.global {
  color: black;
}
.firstpanel {
  position: relative;
  top: 33px;
  background-image: url('/content/images/black.png');
  width: 100%;
  height: 1000px;
}
p.coolsentence {
  position: relative;
  text-align: center;
  top: 300px;
  color: #fff;
  font-size: 90px;
}
.signup {
  position: relative;
  top: 500px;
  left: 34%;
  text-transform: uppercase;
  color: black;
  font-size: 40px;
  width: 600px;
  height: 120px;
  border-radius: 60px;
}
h2 {
  text-transform: uppercase;
  font-weight: bold;
  font: normal normal normal 60px/72px Helvetica Neue;
}
.howwork {
  position: relative;
  top: 100px;
  text-align: center;
}
h4 {
  font: normal normal normal 25px/30px Helvetica Neue;
  text-transform: uppercase;
}
#container_2 {
  position: relative;
  top: -360px;
}
#container_3 {
  position: relative;
  top: -720px;
}
#container_4 {
  position: relative;
  top: -1080px;
}
.threeheaders {
  position: relative;
  top: -122px;
  left: 25%;
  text-transform: uppercase;
  font: normal normal 40px/48px Helvetica Neue;
}
.threetexts {
  position: relative;
  left: 25%;
  top: -85px;
  font: normal normal normal 30px/36px Helvetica Neue;
  word-wrap: break-word;
  width: 33%;
}
.left_image {
  width: 27%;
  height: 330px;
  position: relative;
  bottom: 300px;
  left: 64%;
}
#desc1 {
  top: -320px;
}
#desc2 {
  top: -285px;
}
.fullimage {
  margin: 0px auto;
  width: 100%;
  height: 300px;
}
.number {
  width: 110px;
  height: 110px;
  position: relative;
  top: 130px;
  left: 15%;
  margin-bottom: 10%;
}
// .offer {
//   border: 1px solid #707070;
//   width: 500px;
//   height: 630px;
//   border-radius: 70px;
// }
// #free {
//   position: relative;
//   top: 140px;
//   left: 3%;
// }
// #firstlevel {
//   position: relative;
//   top: -485px;
//   left: 36%;
// }
// #secondlevel {
//   position: relative;
//   top: -1110px;
//   left: 69%;
// }

// .buttondiv {
//   position: relative;
//   top: 70%;
//   left: 10%;
//   width: 80%;
//   height: 12%;
//   text-align: center;
//   cursor: pointer;
//   background-color: rgb(255, 255, 255);
//   color: gray;
//   padding: 10px 20px;
//   transition: background-color 0.3s;
//   border: 1px solid gray;
//   border-radius: 20px;
//   font: normal normal normal 40px/48px Helvetica Neue;
// }

// .buttondiv:hover {
//   background-color: rgb(0, 0, 0);
//   color: #fff;
// }
// .aspects {
//   text-align: center;
//   font: normal normal normal 35px/43px Helvetica Neue;
// }
// .badiv {
//   position: relative;
//   top: 5%;
//   left: 10%;
//   width: 80%;
//   height: 12%;
//   text-align: center;
//   background-color: rgb(255, 255, 255);
//   color: gray;
//   padding: 10px 20px;
//   transition: background-color 0.3s;
//   border: 1px solid gray;
//   border-radius: 20px;
//   font: normal normal normal 40px/48px Helvetica Neue;
// }
#questions {
  position: relative;
  top: -1100px;
}
#FAQ {
  position: relative;
  top: 100px;
}
.nb-theme-default {
  position: relative;
  top: 200px;
}

.contact {
  border: 1px solid gray;
  width: 80%;
  height: 500px;
  position: relative;
  top: 200px;
  left: 10%;
  font-size: 40px;
}
#contactsegment1 {
  position: relative;
  left: 27%;
  top: 10%;
}
#contactsegment2 {
  position: relative;
  left: 47%;
  top: -22%;
}
#contactsegment3 {
  position: relative;
  left: 67%;
  top: -66.5%;
}
.contactlink {
  text-decoration: none;
  color: gray;
  font-size: 20px;
}
.accordion {
  width: 100%;
}

.accordion-item {
  border-bottom: 1px solid #ccc;
}

.accordion-header {
  background-color: #f4f4f4;
  padding: 10px;
  cursor: pointer;
}

.accordion-content {
  padding: 10px;
  display: none;
}
#terrible_idea {
  position: relative;
  top: -1080px;
}
.idea_description {
  position: relative;
  top: 100px;
  left: 15%;
  text-align: center;
  font: normal normal normal 40px/60px Helvetica Neue;
  word-wrap: break-word;
  width: 70%;
}
#read_more {
  color: black;
}
