<div class="global">
  <div class="navbar">
    <a href="" class="barcontent" id="bar1">Bye.com</a>
    <a href="#Howitworks" class="barcontent" id="bar2">Guide</a>
    <a href="#Pricing" class="barcontent" id="bar3">Pricing</a>
    <a href="#questions" class="barcontent" id="bar4">FAQ</a>
    <a href="#contact" class="barcontent" id="bar5">Contact</a>
    <a href="" class="barcontent" id="bar6">Login</a>
  </div>
  <div class="firstpanel">
    <p class="coolsentence">Celebrating life,</p>
    <p class="coolsentence">Honoring memories</p>
    <button class="signup">Sign up for free</button>
  </div>
  <div class="steps" id="Howitworks">
    <h2 class="howwork">How it works?</h2>
    <h4 class="howwork">Create your last goodbye with us</h4>

    <img src="/content/images/jeden.png" alt="" class="number" />
    <h3 class="threeheaders">SING UP FOR FREE</h3>
    <p class="threetexts">log in, create an account, enter your name, surname, phone number, e-mail address</p>
    <img src="/content/images/dwa.png" alt="" class="number" />
    <h3 class="threeheaders">FILL UP THE SURVEY</h3>
    <p class="threetexts">
      This is the stage you will answer questions that will allow you to determine how your last goodbye should look like.
    </p>
    <img src="/content/images/trzy.png" alt="" class="number" />
    <h3 class="threeheaders">NOTIFY YOUR LOVED ONES</h3>
    <p class="threetexts">
      This is the stage you will answer questions that will allow you to determine how your last goodbye should look like.
    </p>
    <img src="/content/images/trzy.png" alt="" class="number" />
    <h3 class="threeheaders">WHAT YOU CAN DO NEXT?</h3>
    <p class="threetexts">
      This is the stage you will answer questions that will allow you to determine how your last goodbye should look like.
    </p>

    <!-- 
      Pricing będzie na innej stronie
      <div class="pricing" id="Pricing">
      <h2 class="howwork">Pricing</h2>

      <div class="offer" id="free">
        <div class="badiv">Basic</div>
        <div class="buttondiv">Free</div>
        <div class="aspects">
          Complete the survey<br />
          1 edit per month<br />
        </div>
      </div>

      <div class="offer" id="firstlevel">
        <div class="badiv">Premium</div>
        <div class="buttondiv">5$/month</div>
        <div class="aspects">
          Complete the survey<br />
          Unlimited editing<br />
          Create photo presentation<br />
          Discord access
        </div>
      </div>

      <div class="offer" id="secondlevel">
        <div class="badiv">Deluxe</div>
        <div class="buttondiv">10$/month</div>
        <div class="aspects">
          Complete the survey<br />
          Unlimited editing<br />
          Create photo presentation<br />
          Add videos<br />
          Discord access
        </div>
      </div> -->

    <!-- <div class="accordion">
        <div class="accordion-item">
          <div class="accordion-header">Pytanie 1</div>
          <div class="accordion-content">Odpowiedź 1</div>
        </div>
        <div class="accordion-item">
          <div class="accordion-header">Pytanie 2</div>
          <div class="accordion-content">Odpowiedź 2</div>
        </div>
        <div class="accordion-item">
          <div class="accordion-header">Pytanie 3</div>
          <div class="accordion-content">Odpowiedź 3</div>
        </div>
      </div> -->
    <h2 class="howwork">Idea</h2>

    <div class="contact" id="contact">
      <div id="contactsegment1">
        <h3><strong>Company</strong></h3>
        <a href="" class="contactlink">About as</a><br />
        <a href="" class="contactlink">Ideas</a>
      </div>
      <div id="contactsegment2">
        <h3><strong>Community</strong></h3>
        <a href="" class="contactlink">Discord</a><br />
        <a href="" class="contactlink">Instagram</a><br />
        <a href="" class="contactlink">Facebook</a>
      </div>
      <div id="contactsegment3">
        <h3><strong>Pricing</strong></h3>
        <a href="" class="contactlink">Support</a>
      </div>
    </div>
  </div>
</div>

<!-- <div class="nb-theme-default">-->
