<div class="global">
  <div class="firstpanel">
    <p class="coolsentence">From You</p>
    <p class="coolsentence">for your loved ones</p>
    <button *ngIf="!(accountService.isAuthenticatedObs | async)" [routerLink]="['/user/register']" class="signup">Sign up for free</button>
  </div>

  <div id="terrible_idea">
    <h2 class="howwork">Welcome to farewelly</h2>
    <br /><br />
    <p class="idea_description">
      an innovative start-up that empowers you to create personalized farewell films for your loved ones when you’re no longer here. Say
      goodbye in a unique and heartfelt way by sharing your life stories, expressing love, gratitude, and capturing the essence of your
      relationships.
      <br /><br /><a href="#Pricing" id="read_more" [routerLink]="['/idea']">Read more</a>
    </p>
  </div>
  <br />
  <br />
  <div class="steps" id="Howitworks">
    <h2 class="howwork">How it works?</h2>
    <h4 class="howwork">Create your last goodbye with us</h4>

    <div class="cont">
      <div class="number" id="one_n">
        <div class="t_number">1</div>
      </div>
      <h3 class="threeheaders">SING UP FOR FREE</h3>
      <p class="threetexts" id="first_text">Log in, create an account, enter your name, surname, phone number, e-mail address</p>
      <img src="/content/images/black.png" class="left_image" id="first_img" />
    </div>
    <br />
    <div class="cont">
      <div class="number" id="two_n">
        <div class="t_number">2</div>
      </div>
      <h3 class="threeheaders">FILL UP THE SURVEY</h3>
      <p class="threetexts" id="second_text">
        This is the stage you will answer questions that will allow you to determine how your last goodbye should look like.
      </p>
      <img src="/content/images/black.png" class="left_image" id="second_img" />
    </div>
    <br />
    <div class="cont">
      <div class="number" id="three_n">
        <div class="t_number">3</div>
      </div>
      <h3 class="threeheaders">LOGIN AND ACCES THE FEATURES</h3>
      <p class="threetexts" id="third_text">
        Once logged in, the user has access to the full functionality and features offered by the startup like: creating a video & adding
        photos.
      </p>
      <img src="/content/images/black.png" class="left_image" id="third_img" />
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <a href="#Pricing" id="read_more2" [routerLink]="['/idea']">Read more</a>
  </div>
</div>

<!--
      Pricing będzie na innej stronie
      <div class="pricing" id="Pricing">
      <h2 class="howwork">Pricing</h2>

      <div class="offer" id="free">
        <div class="badiv">Basic</div>
        <div class="buttondiv">Free</div>
        <div class="aspects">
          Complete the survey<br />
          1 edit per month<br />
        </div>
      </div>

      <div class="offer" id="firstlevel">
        <div class="badiv">Premium</div>
        <div class="buttondiv">5$/month</div>
        <div class="aspects">
          Complete the survey<br />
          Unlimited editing<br />
          Create photo presentation<br />
          Discord access
        </div>
      </div>

      <div class="offer" id="secondlevel">
        <div class="badiv">Deluxe</div>
        <div class="buttondiv">10$/month</div>
        <div class="aspects">
          Complete the survey<br />
          Unlimited editing<br />
          Create photo presentation<br />
          Add videos<br />
          Discord access
        </div>
      </div> -->
