<div class="nb-theme-default">
  <nb-card>
    <nb-card-body>
      <nb-stepper orientation="horizontal" linear="disabled">
        <nb-step [label]="labelTwo">
          <ng-template #labelTwo>Second step</ng-template>
          <form name="form" role="form" [formGroup]="registerFormStep2" (ngSubmit)="register3()" *ngIf="!success">
            <div class="mb-3">
              <label class="form-label" for="firstName">First Name</label>
              <input
                nbInput
                type="text"
                class="form-control"
                id="firstName"
                name="firstName"
                placeholder="{{ 'Type in your first name' }}"
                formControlName="firstName"
                data-cy="firstName"
              />

              <div
                *ngIf="
                  registerFormStep2.get('firstName')!.invalid &&
                  (registerFormStep2.get('firstName')!.dirty || registerFormStep2.get('firstName')!.touched)
                "
              >
                <small class="form-text text-danger" *ngIf="registerFormStep2.get('firstName')?.errors?.required">
                  Your username is required.
                </small>

                <small class="form-text text-danger" *ngIf="registerFormStep2.get('firstName')?.errors?.minlength">
                  Your username is required to be at least 1 character.
                </small>

                <small class="form-text text-danger" *ngIf="registerFormStep2.get('firstName')?.errors?.maxlength">
                  Your username cannot be longer than 50 characters.
                </small>

                <small class="form-text text-danger" *ngIf="registerFormStep2.get('firstName')?.errors?.pattern">
                  Your username is invalid.
                </small>
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label" for="lastName">Last Name</label>
              <input
                nbInput
                type="text"
                class="form-control"
                id="lastName"
                name="lastName"
                placeholder="{{ 'Type in your last name' }}"
                formControlName="lastName"
                data-cy="lastName"
              />

              <div
                *ngIf="
                  registerFormStep2.get('lastName')!.invalid &&
                  (registerFormStep2.get('lastName')!.dirty || registerFormStep2.get('lastName')!.touched)
                "
              >
                <small class="form-text text-danger" *ngIf="registerFormStep2.get('lastName')?.errors?.required">
                  Your email is required.
                </small>

                <small class="form-text text-danger" *ngIf="registerFormStep2.get('lastName')?.errors?.invalid">
                  Your email is invalid.
                </small>

                <small class="form-text text-danger" *ngIf="registerFormStep2.get('lastName')?.errors?.minlength">
                  Your email is required to be at least 5 characters.
                </small>

                <small class="form-text text-danger" *ngIf="registerFormStep2.get('lastName')?.errors?.maxlength">
                  Your email cannot be longer than 50 characters.
                </small>
              </div>
            </div>
            <div class="mb-3">
              <!-- <label class="form-label" for="birthDate">Date Of Birth</label> -->
              <input nbInput placeholder="Pick Date" [nbDatepicker]="dateTimePicker" />
              <nb-datepicker #dateTimePicker></nb-datepicker>
              <!-- <input [nbDatepicker]="datepicker" nbInput id="birthDate" name="birthDate" placeholder="pick date"
                formControlName="birthDate" data-cy="birthDate" />
              <nb-datepicker #datepicker></nb-datepicker> -->
            </div>

            <div class="mb-3">
              <label class="form-label" for="prefix">Prefix</label>

              <input
                type="number"
                class="form-control"
                id="prefix"
                name="prefix"
                placeholder="{{ 'Prefix' }}"
                formControlName="prefix"
                data-cy="prefix"
              />

              <div
                *ngIf="
                  registerFormStep2.get('prefix')!.invalid &&
                  (registerFormStep2.get('prefix')!.dirty || registerFormStep2.get('prefix')!.touched)
                "
              >
                <small
                  class="form-text text-danger"
                  *ngIf="registerFormStep2.get('prefix')?.errors?.required"
                  jhiTranslate="global.messages.validate.newpassword.required"
                >
                  Your password is required.
                </small>

                <small
                  class="form-text text-danger"
                  *ngIf="registerFormStep2.get('prefix')?.errors?.minlength"
                  jhiTranslate="global.messages.validate.newpassword.minlength"
                >
                  Your password is required to be at least 4 characters.
                </small>

                <small
                  class="form-text text-danger"
                  *ngIf="registerFormStep2.get('prefix')?.errors?.maxlength"
                  jhiTranslate="global.messages.validate.newpassword.maxlength"
                >
                  Your password cannot be longer than 50 characters.
                </small>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="phoneNumber">Phone number</label>

              <input
                type="text"
                class="form-control"
                id="phoneNumber"
                name="phoneNumber"
                placeholder="{{ 'Phone number' }}"
                formControlName="phoneNumber"
                data-cy="phoneNumber"
              />
              <!--
              <div *ngIf="
                  registerFormDefault.get('phoneNumber')!.invalid &&
                  (registerFormDefault.get('phoneNumber')!.dirty || registerFormDefault.get('phoneNumber')!.touched)
                ">
                <small class="form-text text-danger" *ngIf="registerFormDefault.get('phoneNumber')?.errors?.required"
                  jhiTranslate="global.messages.validate.newpassword.required">
                  Your password is required.
                </small>

                <small class="form-text text-danger" *ngIf="registerFormDefault.get('password')?.errors?.minlength"
                  jhiTranslate="global.messages.validate.newpassword.minlength">
                  Your password is required to be at least 4 characters.
                </small>

                <small class="form-text text-danger" *ngIf="registerFormDefault.get('password')?.errors?.maxlength"
                  jhiTranslate="global.messages.validate.newpassword.maxlength">
                  Your password cannot be longer than 50 characters.
                </small> -->
              <!-- </div> -->
            </div>
            <button type="submit" [disabled]="registerFormStep2.invalid" class="btn btn-primary" data-cy="submit">Register</button>
          </form>
          <button nbButton nbStepperPrevious>prev</button>
          <button nbButton nbStepperNext>next</button>
        </nb-step>
        <nb-step label="Third step">
          <form name="form" role="form" [formGroup]="registerFormStep3" (ngSubmit)="register3()" *ngIf="!success">
            <div class="mb-3">
              <label class="form-label" for="burialMethod">Burial method</label>
              <input
                type="text"
                class="form-control"
                id="burialMethod"
                name="burialMethod"
                placeholder="{{ 'Burial Method' }}"
                formControlName="burialMethod"
                data-cy="burialMethod"
              />
              <!--
              <div *ngIf="
                  registerFormDefault.get('login')!.invalid &&
                  (registerFormDefault.get('login')!.dirty || registerFormDefault.get('login')!.touched)
                ">
                <small class="form-text text-danger" *ngIf="registerFormDefault.get('login')?.errors?.required"
                  jhiTranslate="register.messages.validate.login.required">
                  Your username is required.
                </small>

                <small class="form-text text-danger" *ngIf="registerFormDefault.get('login')?.errors?.minlength"
                  jhiTranslate="register.messages.validate.login.minlength">
                  Your username is required to be at least 1 character.
                </small>

                <small class="form-text text-danger" *ngIf="registerFormDefault.get('login')?.errors?.maxlength"
                  jhiTranslate="register.messages.validate.login.maxlength">
                  Your username cannot be longer than 50 characters.
                </small>

                <small class="form-text text-danger" *ngIf="registerFormDefault.get('login')?.errors?.pattern"
                  jhiTranslate="register.messages.validate.login.pattern">
                  Your username is invalid.
                </small>
              </div>-->
            </div>

            <div class="mb-3">
              <label class="form-label" for="clothes">Clothes</label>
              <input
                type="text"
                class="form-control"
                id="clothes"
                name="clothes"
                placeholder="{{ 'Clothes' }}"
                formControlName="clothes"
                data-cy="clothes"
              />

              <!-- <div *ngIf="
                  registerFormDefault.get('email')!.invalid &&
                  (registerFormDefault.get('email')!.dirty || registerFormDefault.get('email')!.touched)
                ">
                <small class="form-text text-danger" *ngIf="registerFormDefault.get('email')?.errors?.required"
                  jhiTranslate="global.messages.validate.email.required">
                  Your email is required.
                </small>

                <small class="form-text text-danger" *ngIf="registerFormDefault.get('email')?.errors?.invalid"
                  jhiTranslate="global.messages.validate.email.invalid">
                  Your email is invalid.
                </small>

                <small class="form-text text-danger" *ngIf="registerFormDefault.get('email')?.errors?.minlength"
                  jhiTranslate="global.messages.validate.email.minlength">
                  Your email is required to be at least 5 characters.
                </small>

                <small class="form-text text-danger" *ngIf="registerFormDefault.get('email')?.errors?.maxlength"
                  jhiTranslate="global.messages.validate.email.maxlength">
                  Your email cannot be longer than 50 characters.
                </small>
              </div>-->
            </div>

            <div class="mb-3">
              <label class="form-label" for="placeOfCeremony">Place Of Ceremony</label>
              <input
                type="text"
                class="form-control"
                id="placeOfCeremony"
                name="placeOfCeremony"
                placeholder="{{ 'Place of Ceremony' }}"
                formControlName="placeOfCeremony"
                data-cy="placeOfCeremony"
              />
              <!--
              <div *ngIf="
                  registerFormDefault.get('password')!.invalid &&
                  (registerFormDefault.get('password')!.dirty || registerFormDefault.get('password')!.touched)
                ">
                <small class="form-text text-danger" *ngIf="registerFormDefault.get('password')?.errors?.required"
                  jhiTranslate="global.messages.validate.newpassword.required">
                  Your password is required.
                </small>

                <small class="form-text text-danger" *ngIf="registerFormDefault.get('password')?.errors?.minlength"
                  jhiTranslate="global.messages.validate.newpassword.minlength">
                  Your password is required to be at least 4 characters.
                </small>

                <small class="form-text text-danger" *ngIf="registerFormDefault.get('password')?.errors?.maxlength"
                  jhiTranslate="global.messages.validate.newpassword.maxlength">
                  Your password cannot be longer than 50 characters.
                </small>
              </div> -->
            </div>
            <div class="mb-3">
              <label class="form-label" for="photo">Photo</label>
              <input
                type="
              text"
                class="form-control"
                id="photo"
                name="photo"
                placeholder="{{ 'Photo' }}"
                formControlName="photo"
                data-cy="photo"
              />
              <!--
              <div *ngIf="
                  registerFormDefault.get('email')!.invalid &&
                  (registerFormDefault.get('email')!.dirty || registerFormDefault.get('email')!.touched)
                ">
                <small class="form-text text-danger" *ngIf="registerFormDefault.get('email')?.errors?.required"
                  jhiTranslate="global.messages.validate.email.required">
                  Your email is required.
                </small>

                <small class="form-text text-danger" *ngIf="registerFormDefault.get('email')?.errors?.invalid"
                  jhiTranslate="global.messages.validate.email.invalid">
                  Your email is invalid.
                </small>

                <small class="form-text text-danger" *ngIf="registerFormDefault.get('email')?.errors?.minlength"
                  jhiTranslate="global.messages.validate.email.minlength">
                  Your email is required to be at least 5 characters.
                </small>

                <small class="form-text text-danger" *ngIf="registerFormDefault.get('email')?.errors?.maxlength"
                  jhiTranslate="global.messages.validate.email.maxlength">
                  Your email cannot be longer than 50 characters.
                </small>
              </div> -->
            </div>
            <div class="mb-3">
              <label class="form-label" for="graveInscription">Grave inscription</label>
              <input
                type="text"
                class="form-control"
                id="graveInscription"
                name="graveInscription"
                placeholder="{{ 'Grave inscription' }}"
                formControlName="graveInscription"
                data-cy="graveInscription"
              />

              <!-- <div *ngIf="
                  registerFormDefault.get('email')!.invalid &&
                  (registerFormDefault.get('email')!.dirty || registerFormDefault.get('email')!.touched)
                ">
                <small class="form-text text-danger" *ngIf="registerFormDefault.get('email')?.errors?.required"
                  jhiTranslate="global.messages.validate.email.required">
                  Your email is required.
                </small>

                <small class="form-text text-danger" *ngIf="registerFormDefault.get('email')?.errors?.invalid"
                  jhiTranslate="global.messages.validate.email.invalid">
                  Your email is invalid.
                </small>

                <small class="form-text text-danger" *ngIf="registerFormDefault.get('email')?.errors?.minlength"
                  jhiTranslate="global.messages.validate.email.minlength">
                  Your email is required to be at least 5 characters.
                </small>

                <small class="form-text text-danger" *ngIf="registerFormDefault.get('email')?.errors?.maxlength"
                  jhiTranslate="global.messages.validate.email.maxlength">
                  Your email cannot be longer than 50 characters.
                </small>
              </div> -->
            </div>
            <div class="mb-3">
              <label class="form-label" for="spotify">Spotify</label>
              <input
                type="text"
                class="form-control"
                id="spotify"
                name="spotify"
                placeholder="{{ 'Spotify' }}"
                formControlName="spotify"
                data-cy="spotify"
              />

              <!-- <div *ngIf="
                  registerFormDefault.get('email')!.invalid &&
                  (registerFormDefault.get('email')!.dirty || registerFormDefault.get('email')!.touched)
                ">
                <small class="form-text text-danger" *ngIf="registerFormDefault.get('email')?.errors?.required"
                  jhiTranslate="global.messages.validate.email.required">
                  Your email is required.
                </small>

                <small class="form-text text-danger" *ngIf="registerFormDefault.get('email')?.errors?.invalid"
                  jhiTranslate="global.messages.validate.email.invalid">
                  Your email is invalid.
                </small>

                <small class="form-text text-danger" *ngIf="registerFormDefault.get('email')?.errors?.minlength"
                  jhiTranslate="global.messages.validate.email.minlength">
                  Your email is required to be at least 5 characters.
                </small>

                <small class="form-text text-danger" *ngIf="registerFormDefault.get('email')?.errors?.maxlength"
                  jhiTranslate="global.messages.validate.email.maxlength">
                  Your email cannot be longer than 50 characters.
                </small>
              </div> -->
            </div>
            <div class="mb-3">
              <label class="form-label" for="guests">Guests</label>
              <input
                type="text"
                class="form-control"
                id="guests"
                name="guests"
                placeholder="{{ 'Guests' }}"
                formControlName="guests"
                data-cy="guests"
              />

              <!-- <div *ngIf="
                  registerFormDefault.get('email')!.invalid &&
                  (registerFormDefault.get('email')!.dirty || registerFormDefault.get('email')!.touched)
                ">
                <small class="form-text text-danger" *ngIf="registerFormDefault.get('email')?.errors?.required"
                  jhiTranslate="global.messages.validate.email.required">
                  Your email is required.
                </small>

                <small class="form-text text-danger" *ngIf="registerFormDefault.get('email')?.errors?.invalid"
                  jhiTranslate="global.messages.validate.email.invalid">
                  Your email is invalid.
                </small>

                <small class="form-text text-danger" *ngIf="registerFormDefault.get('email')?.errors?.minlength"
                  jhiTranslate="global.messages.validate.email.minlength">
                  Your email is required to be at least 5 characters.
                </small>

                <small class="form-text text-danger" *ngIf="registerFormDefault.get('email')?.errors?.maxlength"
                  jhiTranslate="global.messages.validate.email.maxlength">
                  Your email cannot be longer than 50 characters.
                </small>
              </div> -->
            </div>

            <div class="mb-3">
              <label class="form-label" for="notInvited">People not Invited</label>
              <input
                type="text"
                class="form-control"
                id="notInvited"
                name="notInvited"
                placeholder="{{ 'People not Invited' }}"
                formControlName="notInvited"
                data-cy="notInvited"
              />

              <!-- <div *ngIf="
                  registerFormDefault.get('email')!.invalid &&
                  (registerFormDefault.get('email')!.dirty || registerFormDefault.get('email')!.touched)
                ">
                <small class="form-text text-danger" *ngIf="registerFormDefault.get('email')?.errors?.required"
                  jhiTranslate="global.messages.validate.email.required">
                  Your email is required.
                </small>

                <small class="form-text text-danger" *ngIf="registerFormDefault.get('email')?.errors?.invalid"
                  jhiTranslate="global.messages.validate.email.invalid">
                  Your email is invalid.
                </small>

                <small class="form-text text-danger" *ngIf="registerFormDefault.get('email')?.errors?.minlength"
                  jhiTranslate="global.messages.validate.email.minlength">
                  Your email is required to be at least 5 characters.
                </small>

                <small class="form-text text-danger" *ngIf="registerFormDefault.get('email')?.errors?.maxlength"
                  jhiTranslate="global.messages.validate.email.maxlength">
                  Your email cannot be longer than 50 characters.
                </small>
              </div> -->
            </div>
            <div class="mb-3">
              <label class="form-label" for="obituary">Obituary</label>
              <input
                type="text"
                class="form-control"
                id="obituary"
                name="obituary"
                placeholder="{{ 'Obituary' }}"
                formControlName="obituary"
                data-cy="obituary"
              />

              <!-- <div *ngIf="
                  registerFormDefault.get('email')!.invalid &&
                  (registerFormDefault.get('email')!.dirty || registerFormDefault.get('email')!.touched)
                ">
                <small class="form-text text-danger" *ngIf="registerFormDefault.get('email')?.errors?.required"
                  jhiTranslate="global.messages.validate.email.required">
                  Your email is required.
                </small>

                <small class="form-text text-danger" *ngIf="registerFormDefault.get('email')?.errors?.invalid"
                  jhiTranslate="global.messages.validate.email.invalid">
                  Your email is invalid.
                </small>

                <small class="form-text text-danger" *ngIf="registerFormDefault.get('email')?.errors?.minlength"
                  jhiTranslate="global.messages.validate.email.minlength">
                  Your email is required to be at least 5 characters.
                </small>

                <small class="form-text text-danger" *ngIf="registerFormDefault.get('email')?.errors?.maxlength"
                  jhiTranslate="global.messages.validate.email.maxlength">
                  Your email cannot be longer than 50 characters.
                </small>
              </div>-->
            </div>

            <button type="submit" class="btn btn-primary" jhiTranslate="register.form.button" data-cy="submit">Register</button>
          </form>
          <button nbButton nbStepperPrevious>prev</button>
          <button nbButton nbStepperNext>next</button>
        </nb-step>
        <nb-step [label]="labelFour">
          <ng-template #labelFour>Fourth step</ng-template>
          <form name="form" role="form" (ngSubmit)="sendRegister()" [formGroup]="registerFormStep4" *ngIf="!success">
            <div class="mb-3">
              <!-- <label class="form-label" for="purchasedPlace">Purchased place -->

              <!-- <label for="purchasedPlace">
                  Yes
                  <input type="radio" value=true formControlName="purchasedPlace" id="purchasedPlace"
                    name="purchasedPlace">
                </label>
                <label for="purchasedPlace">
                  No
                  <input type="radio" value=false formControlName="purchasedPlace" id="purchasedPlace"
                    name="purchasedPlace">
                </label>
              </label> -->
              <label for="purchasedPlace">
                Did you purchase your place
                <nb-radio-group formControlName="purchasedPlace" name="purchased">
                  <nb-radio value="true" id="purchasedPlace" name="purchasedPlace">Yes</nb-radio>
                  <nb-radio value="false" id="purchasedPlace" name="purchasedPlace">No</nb-radio>
                </nb-radio-group>
              </label>
              <!-- <input type="text" class="form-control" id="purchasedPlace" name="purchasedPlace"
                placeholder="{{ 'Purchased place' }}" formControlName="purchasedPlace" data-cy="purchasedPlace" /> -->
              <!--
              <div *ngIf="
                  registerFormDefault.get('login')!.invalid &&
                  (registerFormDefault.get('login')!.dirty || registerFormDefault.get('login')!.touched)
                ">
                <small class="form-text text-danger" *ngIf="registerFormDefault.get('login')?.errors?.required"
                  jhiTranslate="register.messages.validate.login.required">
                  Your username is required.
                </small>

                <small class="form-text text-danger" *ngIf="registerFormDefault.get('login')?.errors?.minlength"
                  jhiTranslate="register.messages.validate.login.minlength">
                  Your username is required to be at least 1 character.
                </small>

                <small class="form-text text-danger" *ngIf="registerFormDefault.get('login')?.errors?.maxlength"
                  jhiTranslate="register.messages.validate.login.maxlength">
                  Your username cannot be longer than 50 characters.
                </small>

                <small class="form-text text-danger" *ngIf="registerFormDefault.get('login')?.errors?.pattern"
                  jhiTranslate="register.messages.validate.login.pattern">
                  Your username is invalid.
                </small>
              </div> -->
            </div>

            <div class="mb-3">
              <label class="form-label" for="isPurchasedOther">Is purchased other</label>
              <input
                type="text"
                class="form-control"
                id="isPurchasedOther"
                name="isPurchasedOther"
                placeholder="{{ 'Is purchased other' }}"
                formControlName="isPurchasedOther"
                data-cy="isPurchasedOther"
              />
              <!--
              <div *ngIf="
                  registerFormDefault.get('email')!.invalid &&
                  (registerFormDefault.get('email')!.dirty || registerFormDefault.get('email')!.touched)
                ">
                <small class="form-text text-danger" *ngIf="registerFormDefault.get('email')?.errors?.required"
                  jhiTranslate="global.messages.validate.email.required">
                  Your email is required.
                </small>

                <small class="form-text text-danger" *ngIf="registerFormDefault.get('email')?.errors?.invalid"
                  jhiTranslate="global.messages.validate.email.invalid">
                  Your email is invalid.
                </small>

                <small class="form-text text-danger" *ngIf="registerFormDefault.get('email')?.errors?.minlength"
                  jhiTranslate="global.messages.validate.email.minlength">
                  Your email is required to be at least 5 characters.
                </small>

                <small class="form-text text-danger" *ngIf="registerFormDefault.get('email')?.errors?.maxlength"
                  jhiTranslate="global.messages.validate.email.maxlength">
                  Your email cannot be longer than 50 characters.
                </small>
              </div> -->
            </div>

            <div class="mb-3">
              <label for="flowers">
                Do you want any flowers
                <nb-radio-group formControlName="flowers" name="flowers">
                  <nb-radio value="true" id="flowers" name="flowers">Yes</nb-radio>
                  <nb-radio value="false" id="flowers" name="flowers">No</nb-radio>
                </nb-radio-group>
              </label>
              <!-- <label class="form-label" for="flowers">Flowers</label>
              <input type="text" class="form-control" id="flowers" name="flowers" placeholder="{{ 'Flowers' }}"
                formControlName="flowers" data-cy="flowers" /> -->

              <!-- <div *ngIf="
                  registerFormDefault.get('password')!.invalid &&
                  (registerFormDefault.get('password')!.dirty || registerFormDefault.get('password')!.touched)
                ">
                <small class="form-text text-danger" *ngIf="registerFormDefault.get('password')?.errors?.required"
                  jhiTranslate="global.messages.validate.newpassword.required">
                  Your password is required.
                </small>

                <small class="form-text text-danger" *ngIf="registerFormDefault.get('password')?.errors?.minlength"
                  jhiTranslate="global.messages.validate.newpassword.minlength">
                  Your password is required to be at least 4 characters.
                </small>

                <small class="form-text text-danger" *ngIf="registerFormDefault.get('password')?.errors?.maxlength"
                  jhiTranslate="global.messages.validate.newpassword.maxlength">
                  Your password cannot be longer than 50 characters.
                </small>
              </div> -->
            </div>
            <div class="mb-3">
              <label class="form-label" for="ifFlowers">What flowers</label>
              <input
                type="text"
                class="form-control"
                id="ifFlowers"
                name="ifFlowers"
                placeholder="{{ 'What flowers' }}"
                formControlName="ifFlowers"
                data-cy="ifFlowers"
              />
              <!--
              <div *ngIf="
                  registerFormDefault.get('confirmPassword')!.invalid &&
                  (registerFormDefault.get('confirmPassword')!.dirty || registerFormDefault.get('confirmPassword')!.touched)
                ">
                <small class="form-text text-danger"
                  *ngIf="registerFormDefault.get('confirmPassword')?.errors?.required"
                  jhiTranslate="global.messages.validate.confirmpassword.required">
                  Your confirmation password is required.
                </small>

                <small class="form-text text-danger"
                  *ngIf="registerFormDefault.get('confirmPassword')?.errors?.minlength"
                  jhiTranslate="global.messages.validate.confirmpassword.minlength">
                  Your confirmation password is required to be at least 4 characters.
                </small>

                <small class="form-text text-danger"
                  *ngIf="registerFormDefault.get('confirmPassword')?.errors?.maxlength"
                  jhiTranslate="global.messages.validate.confirmpassword.maxlength">
                  Your confirmation password cannot be longer than 50 characters.
                </small>
              </div> -->
            </div>
            <div class="mb-3">
              <label class="form-label" for="farwellLetter">Farwell letter</label>
              <input
                type="text"
                class="form-control"
                id="farwellLetter"
                name="farwellLetter"
                placeholder="{{ 'Farwell letter' }}"
                formControlName="farwellLetter"
                data-cy="farwellLetter"
              />
              <!--
              <div *ngIf="
                  registerFormDefault.get('confirmPassword')!.invalid &&
                  (registerFormDefault.get('confirmPassword')!.dirty || registerFormDefault.get('confirmPassword')!.touched)
                ">
                <small class="form-text text-danger"
                  *ngIf="registerFormDefault.get('confirmPassword')?.errors?.required"
                  jhiTranslate="global.messages.validate.confirmpassword.required">
                  Your confirmation password is required.
                </small>

                <small class="form-text text-danger"
                  *ngIf="registerFormDefault.get('confirmPassword')?.errors?.minlength"
                  jhiTranslate="global.messages.validate.confirmpassword.minlength">
                  Your confirmation password is required to be at least 4 characters.
                </small>

                <small class="form-text text-danger"
                  *ngIf="registerFormDefault.get('confirmPassword')?.errors?.maxlength"
                  jhiTranslate="global.messages.validate.confirmpassword.maxlength">
                  Your confirmation password cannot be longer than 50 characters.
                </small>
              </div> -->
            </div>
            <div class="mb-3">
              <label class="form-label" for="speech">Speech</label>
              <input
                type="text"
                class="form-control"
                id="speech"
                name="speech"
                placeholder="{{ 'Speech' }}"
                formControlName="speech"
                data-cy="speech"
              />

              <!-- <div *ngIf="
                  registerFormDefault.get('confirmPassword')!.invalid &&
                  (registerFormDefault.get('confirmPassword')!.dirty || registerFormDefault.get('confirmPassword')!.touched)
                ">
                <small class="form-text text-danger"
                  *ngIf="registerFormDefault.get('confirmPassword')?.errors?.required"
                  jhiTranslate="global.messages.validate.confirmpassword.required">
                  Your confirmation password is required.
                </small>

                <small class="form-text text-danger"
                  *ngIf="registerFormDefault.get('confirmPassword')?.errors?.minlength"
                  jhiTranslate="global.messages.validate.confirmpassword.minlength">
                  Your confirmation password is required to be at least 4 characters.
                </small>

                <small class="form-text text-danger"
                  *ngIf="registerFormDefault.get('confirmPassword')?.errors?.maxlength"
                  jhiTranslate="global.messages.validate.confirmpassword.maxlength">
                  Your confirmation password cannot be longer than 50 characters.
                </small>
              </div> -->
            </div>
            <div class="mb-3">
              <label class="form-label" for="videoSpeech">Video speech</label>
              <input
                type="text"
                class="form-control"
                id="videoSpeech"
                name="videoSpeech"
                placeholder="{{ 'Video Speech' }}"
                formControlName="videoSpeech"
                data-cy="videoSpeech"
              />

              <!-- <div *ngIf="
                  registerFormDefault.get('confirmPassword')!.invalid &&
                  (registerFormDefault.get('confirmPassword')!.dirty || registerFormDefault.get('confirmPassword')!.touched)
                ">
                <small class="form-text text-danger"
                  *ngIf="registerFormDefault.get('confirmPassword')?.errors?.required"
                  jhiTranslate="global.messages.validate.confirmpassword.required">
                  Your confirmation password is required.
                </small>

                <small class="form-text text-danger"
                  *ngIf="registerFormDefault.get('confirmPassword')?.errors?.minlength"
                  jhiTranslate="global.messages.validate.confirmpassword.minlength">
                  Your confirmation password is required to be at least 4 characters.
                </small>

                <small class="form-text text-danger"
                  *ngIf="registerFormDefault.get('confirmPassword')?.errors?.maxlength"
                  jhiTranslate="global.messages.validate.confirmpassword.maxlength">
                  Your confirmation password cannot be longer than 50 characters.
                </small>
              </div> -->
            </div>
            <div class="mb-3">
              <label class="form-label" for="testament">Testament</label>
              <input
                type="text"
                class="form-control"
                id="testament"
                name="testament"
                placeholder="{{ 'Testament' }}"
                formControlName="testament"
                data-cy="testament"
              />

              <!-- <div *ngIf="
                  registerFormDefault.get('confirmPassword')!.invalid &&
                  (registerFormDefault.get('confirmPassword')!.dirty || registerFormDefault.get('confirmPassword')!.touched)
                ">
                <small class="form-text text-danger"
                  *ngIf="registerFormDefault.get('confirmPassword')?.errors?.required"
                  jhiTranslate="global.messages.validate.confirmpassword.required">
                  Your confirmation password is required.
                </small>

                <small class="form-text text-danger"
                  *ngIf="registerFormDefault.get('confirmPassword')?.errors?.minlength"
                  jhiTranslate="global.messages.validate.confirmpassword.minlength">
                  Your confirmation password is required to be at least 4 characters.
                </small>

                <small class="form-text text-danger"
                  *ngIf="registerFormDefault.get('confirmPassword')?.errors?.maxlength"
                  jhiTranslate="global.messages.validate.confirmpassword.maxlength">
                  Your confirmation password cannot be longer than 50 characters.
                </small>
              </div> -->
            </div>
            <div class="mb-3">
              <label class="form-label" for="accessForRelatives">Access for relatives</label>
              <input
                type="text"
                class="form-control"
                id="accessForRelatives"
                name="accessForRelatives"
                placeholder="{{ 'Access for relatives' }}"
                formControlName="accessForRelatives"
                data-cy="accessForRelatives"
              />
              <!--
              <div *ngIf="
                  registerFormDefault.get('confirmPassword')!.invalid &&
                  (registerFormDefault.get('confirmPassword')!.dirty || registerFormDefault.get('confirmPassword')!.touched)
                ">
                <small class="form-text text-danger"
                  *ngIf="registerFormDefault.get('confirmPassword')?.errors?.required"
                  jhiTranslate="global.messages.validate.confirmpassword.required">
                  Your confirmation password is required.
                </small>

                <small class="form-text text-danger"
                  *ngIf="registerFormDefault.get('confirmPassword')?.errors?.minlength"
                  jhiTranslate="global.messages.validate.confirmpassword.minlength">
                  Your confirmation password is required to be at least 4 characters.
                </small>

                <small class="form-text text-danger"
                  *ngIf="registerFormDefault.get('confirmPassword')?.errors?.maxlength"
                  jhiTranslate="global.messages.validate.confirmpassword.maxlength">
                  Your confirmation password cannot be longer than 50 characters.
                </small>
              </div> -->
            </div>
            <div class="mb-3">
              <label class="form-label" for="other">Other</label>
              <input
                type="text"
                class="form-control"
                id="other"
                name="other"
                placeholder="{{ 'Please type other' }}"
                formControlName="other"
                data-cy="other"
              />

              <!-- <div *ngIf="
                  registerFormDefault.get('confirmPassword')!.invalid &&
                  (registerFormDefault.get('confirmPassword')!.dirty || registerFormDefault.get('confirmPassword')!.touched)
                ">
                <small class="form-text text-danger"
                  *ngIf="registerFormDefault.get('confirmPassword')?.errors?.required"
                  jhiTranslate="global.messages.validate.confirmpassword.required">
                  Your confirmation password is required.
                </small>

                <small class="form-text text-danger"
                  *ngIf="registerFormDefault.get('confirmPassword')?.errors?.minlength"
                  jhiTranslate="global.messages.validate.confirmpassword.minlength">
                  Your confirmation password is required to be at least 4 characters.
                </small>

                <small class="form-text text-danger"
                  *ngIf="registerFormDefault.get('confirmPassword')?.errors?.maxlength"
                  jhiTranslate="global.messages.validate.confirmpassword.maxlength">
                  Your confirmation password cannot be longer than 50 characters.
                </small>
              </div> -->
            </div>

            <button type="submit" class="btn btn-primary" data-cy="submit">Register</button>
          </form>
          <button nbButton nbStepperPrevious>prev</button>
          <button nbButton disabled nbStepperNext>next</button>
        </nb-step>
      </nb-stepper>
    </nb-card-body>
  </nb-card>
</div>
