<div class="container">
  <h1>Add photo to your public profile</h1>
  <div class="div">
    <img [src]="url" class="profile" (click)="fileUpload.click()" />
    <div class="plus" (click)="fileUpload.click()">
      <div class="bar horizontal"></div>
      <div class="bar vertical"></div>
    </div>
  </div>

  <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload />
  <div class="buttons">
    <button (click)="redirect()" class="skip">Skip</button>
    <button (click)="save()">Save</button>
  </div>
</div>
